@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --top-bg: rgba(105,71,239,0.6);
  --my-black: #121212;
  --my-black-second: #0f0f0f;
  --main-color: #6947ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--my-black);
}

.text-with-shadow{
  position: relative;
}

.text-with-shadow::before{
  color: var(--my-black);  
  text-shadow: -1px -1px 0 #6947ef, 1px -1px 0 #6947ef, -1px 1px 0 #6947ef, 1px 1px 0 #6947ef;
  position: absolute;
  top: -10px;
  left: -10px;
  content: attr(data-txt);
  z-index: -300;
  word-break: keep-all;
}